/* *Work around to align the stacked icon with rest of the icons */
.more-btn > span.fa-stack {
  height: 1rem;
  width: 1rem;
  vertical-align: top;
  line-height: 1.5rem;
  color: black;
}

.follow-avatar {
  height: 48px;
  width: 48px;
}

.search-parent {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.search-bar {
  padding-left: 10%;
  /* background-color: #202327;
  border-color: #202327; */
}
/* 
.search-bar:focus {
  background-color: #202327;
  color: white;
} */

.fa-gear {
  cursor: pointer;
}

.explore-banner-container {
  position: relative;
}

.explore-banner-title {
  position: absolute;
  bottom: 0;
  left: 1rem;
  color: white;
}

.explore-post-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
