.search-parent {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.search-bar {
  padding-left: 10%;
}

.fa-gear {
  cursor: pointer;
}

.explore-banner-container {
  position: relative;
}

.explore-banner-title {
  position: absolute;
  bottom: 0;
  left: 1rem;
  color: white;
}
