.wd-profile-banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.wd-profile-picture-container {
  width: 150px;
  height: 75px;
  position: relative;
}

.wd-profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -100%;
}
