/* *Work around to align the stacked icon with rest of the icons */
.more-btn > span.fa-stack {
  height: 1rem;
  width: 1rem;
  vertical-align: top;
  line-height: 1.5rem;
}

.follow-avatar {
  height: 48px;
  width: 48px;
}

.search-parent {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.search-bar {
  padding-left: 10%;
}

.fa-gear {
  color: var(--bs-primary);
  cursor: pointer;
}
