.explore-banner-container {
  position: relative;
}

.explore-banner-title {
  position: absolute;
  bottom: 0;
  left: 1rem;
  color: white;
}

.explore-post-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.avatar {
  height: 48px;
  width: 48px;
}

.wd-post-preview {
  text-decoration: none;
}

.wd-text-muted {
  color: rgb(110, 118, 125);
}

.wd-post-item-preview-card {
  border-radius: 20px !important;
}

.card-img-top {
  border-radius: 20px !important;
}

.wd-post-item-preview-bottom-flat {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.wd-avatar {
  height: 48px;
  width: 48px;
}
